


@using CustomComputers.Models
@{
    StockController stockController = ViewBag.StockController;//stock controller from the back


}
@*this displays manager infromation and allows managers to submit changes*@
@model StockController
<div class="heading">Edit Details</div>

@using (Html.BeginForm("ProcessStockController", "User", FormMethod.Get))
{
    if (stockController != null)
    {
        @Html.HiddenFor(m => m.Id)


        <div id="CustomCustomCustom">

            <div>Username: </div>
            <div>@Html.TextBoxFor(m => m.UserName, new { @class = "textInput" })</div>
        </div>
        <div id="CustomCustomCustom">

            <div>First Name:</div>
            <div>@Html.TextBoxFor(m => m.FirstName, new { @class = "textInput" })</div>
        </div>
        <div id="CustomCustomCustom">


            <div>Last Name: </div>
            <div>@Html.TextBoxFor(m => m.LastName, new { @class = "textInput" })</div>
        </div>

        <div id="CustomCustomCustom">


            <div>Address Line 1:</div>
            <div>@Html.TextBoxFor(m => m.AddressLn1, new { @class = "textInput" })</div>
        </div>
        <div id="CustomCustomCustom">


            <div> Address Line 2:</div>
            <div>@Html.TextBoxFor(m => m.AddressLn2, new { @class = "textInput" })</div>
        </div>
        <div id="CustomCustomCustom">


            <div> Town: </div>
            <div>@Html.TextBoxFor(m => m.Town, new { @class = "textInput" })</div>
        </div>
        <div id="CustomCustomCustom">


            <div>Post Code: </div>
            <div>@Html.TextBoxFor(m => m.PostCode, new { @class = "textInput" })</div>
        </div>
        <div id="CustomCustomCustom">

            <div> Email:</div>
            <div>@Html.TextBoxFor(m => m.Email, new { @class = "textInput" })</div>
        </div>
        <div>
            <input class="customButton yellow" type="submit" value="Save changes" />
        </div>



    }


}